<%= erb :'layouts/_header' %>

<h1>New Pigeon</h1>

<!-- form goes here -->
<form action='/pigeons' method='POST'>
	Name: <input name='name'>
	Color: <input name='color'>
	Gender: <input name='gender'>
	Lives: <input name='lives'>
	<input type='submit' value='Create'>
</form>

<a class="button" href="/pigeons">Cancel</a>

<%= erb :'layouts/_footer' %>